.main-chat
  .main-chat__group-info
    .group
      %p.group__text
      text
      %p.group__member
      member :masa
    = link_to edit_group_path(@group), class: "edit" do
      Edit
  .main-chat__message-list
    .first
      .info
        %p.name
          masa
        %p.comment
          おはよう！
      %p.day
      2019/11/20(Wed) 17:43:01
    .second
      .info2
        %p.name2
          masa
        %p.comment2
          今日は夜から雨
      %p.day2
      2019/11/20(Wed) 17:43:34
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden' 
      = f.submit 'Send', class: 'form__submit'