.side-bar
  .side-bar__user-name
    .top-items
      %p.top-items__name
        = current_user.name
      %ul.top-items__menu
        %li.top-items__icons
          = link_to new_group_path do
            = icon('fas', 'edit')
        %li.top-items__icons2
          = link_to  destroy_user_session_path, method: "delete" do
            = icon('fas', 'cog')
      
  .side-bar__group-list
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group), class: "group__a" do
          .group__name
            = group.name
          .group__message
            = group.show_last_message
